.footer {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	padding-bottom: 80px;
}
.footer-heading {
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 30px;
}
.footer-link {
	color: $gray-dark;
	font-weight: 700;
	display: inline-block;
}
.footer-link-item {
	margin-bottom: 20px;
}
.footer-desc {
	margin: 40px 0 50px;
	max-width: 250px;
}
.social {
	display: inline-flex;
}
.social-link {
	width: 40px;
	height: 40px;
	border-radius: 100rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	color: white;
}
.social-link:not(:first-child) {
	margin-left: 15px;
}
@media screen and (max-width: 767px) {
	.footer {
		grid-template-columns: 1fr 1fr;
		grid-gap: 50px 20px;
		grid-template-rows: auto auto;
	}
}
