* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow-x: hidden;
}
img {
	display: block;
	max-width: 100%;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	line-height: 1;
	background-color: white;
	color: $gray-dark;
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}
.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
//btn
.button {
	display: inline-block;
	padding: 20px 45px;
	font-size: 16px;
	color: $gray-dark;
	border-radius: 10px;
	cursor: pointer;
	outline: none;
	line-height: normal;
	transition: all 0.2s linear;
	&--primary {
		background-color: $primary-color;
		color: white;
	}
	&--outline {
		border: 1px solid;
		color: $gray-blur;
	}
}
.block {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-bottom: 85px;
	&-caption {
		text-transform: uppercase;
		margin-bottom: 40px;
		position: relative;
		display: inline-block;
		padding: 0 5px;
	}

	&-caption:before {
		left: 0;
		transform: translateX(-100%) translateY(-50%);
	}
	&-caption:after {
		right: 0;
		transform: translateX(100%) translateY(-50%);
	}
	&-caption:before,
	&-caption:after {
		content: "";
		position: absolute;
		height: 2px;
		width: 30px;
		background-color: $primary-color;
		top: 50%;
	}
	&-caption--left:after {
		display: none;
	}
	&-caption--left:before {
		transform: none;
	}
	&-caption--left {
		padding-left: 40px;
		margin-bottom: 30px;
	}
	&-heading {
		font-size: 50px;
		line-height: 1.4;
	}
}
.text {
	font-weight: 300;
	color: $gray;
	line-height: 1.6;
}
.text--dark {
	color: $gray-dark;
}
.logo {
	display: inline-block;
}
.bg {
	&-google {
		background-color: #ff7879;
	}
	&-instagram {
		background-color: #7aafff;
	}
	&-twitter {
		background-color: #ffb978;
	}
}
@media screen and (max-width: 767px) {
	.button {
		padding: 10px 20px;
	}
	.block {
		margin-bottom: 50px;
		&-heading {
			text-align: center;
			font-size: 35px;
		}
		&-caption {
			margin-bottom: 20px;
		}
	}
}
